body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.chakra-button:active, button.chakra-button[data-active] {
    text-decoration: underline;
    text-underline-offset: 8px;
}

button.chakra-button:hover, button.chakra-button[data-hover] {
    text-underline-offset: 8px;
}

div.pf-c-drawer__panel {
    background-color: #F7FAFC;
}